@import '../../styles/variables';

.form {
  margin-top: 64px;
  margin-bottom: 64px;
  overflow: hidden;
}

.form_header {
  margin-bottom: 24px;

  h2 {
    margin-bottom: 8px;
  }
}

.form_labels {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;

  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    input {
      margin-top: 0.25rem;
      border: 1px solid $primary-gray;
      outline: none;
      border-radius: 4px;
      padding: 8px;
      color: $white;
      background-color: transparent;
      height: 48px;
    }

    span {
      margin-top: 8px;
      color: $error-color;
    }
  }
}

.button_form {
  display: flex;
  justify-content: center;
}

.form_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button_types {
  margin-top: 0.25rem;
  display: flex;
}

@media screen and (max-width: 955px) {
  .form_container {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 567px) {
  .form_header {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 20px;
      text-align: center;
    }

    p {
      font-size: 14px;
      text-align: center;
    }
  }
}