$max-width: 1248px;

// Colors

$backgroud-color: #010101;
$white: #fff;
$primary-color: #286EF1;
$error-color: #f12828;
$sucess-color: #1e9573;
$button-hover: rgba(40, 110, 241, 0.9);
$active-color: #52FF00;
$inactive-color: #FF0000;
$primary-gray: #A1A1A1;