@import './_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Mulish', sans-serif;
}

body {
  background: $backgroud-color;
  color: $white;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  outline: none;
}

h1, h2, h3 {
  line-height: 90%;
}

h1 {
  font-size: 4rem;

  span {
    color: $primary-color;
  }
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1rem;
}

p {
  color: $primary-gray;
}

.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 1rem;
}

.btn {
  background-color: $primary-color;
  padding: 1.125rem 3.875rem;
  color: $white;
  border-radius: 0.25rem;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    background-color: $button-hover;
  }
}

.error_input{
  border: 1px solid $error-color !important;
}

.sucess_input{
  border: 1px solid $sucess-color !important;
}

input[type=radio] {
  display:none;
}
 
input[type=radio] + label.btn_radio{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  border: 1px solid $primary-gray;
  color: $primary-gray;
  cursor: pointer;
  width: 50%;
  height: 48px;

  &:nth-child(2) {
    border-radius: 4px 0 0 4px;
    border-right: 0.5px solid $primary-gray;
  }

  &:nth-child(4) {
    border-radius: 0 4px 4px 0;
    border-left: 0.5px solid $primary-gray;
  }
}
 
input[type=radio]:checked + label.btn_radio{
  background-color: $primary-color;
  color: $white;
  border: none;
}
 

::-webkit-scrollbar {
  width: 8px;            
}

::-webkit-scrollbar-track {
  background: transparent;       
}

::-webkit-scrollbar-thumb {
  background-color: $primary-color;    
  border-radius: 20px;       
}
